name: build-snapshots

concurrency:
  group: snapshots-prod
  cancel-in-progress: false

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "snapshots/**"
      - ".github/workflows/build-snapshots.yml"

  pull_request_target:
    paths:
      - "snapshots/**"
      - ".github/workflows/build-snapshots.yml"
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      TALOS_VERSION: "v1.8.0"
    defaults:
      run:
        shell: bash
        working-directory: ./snapshots/talos
    strategy:
      fail-fast: false
      matrix:
        architecture:
          - talos: amd64
            server: x86
          - talos: arm64
            server: arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ vars.GC_PROJECT_ID }}
          workload_identity_provider: ${{ vars.GC_WORKLOAD_IDENTITY_PROVIDER }}

      - name: Fetch secrets
        id: secrets
        uses: google-github-actions/get-secretmanager-secrets@v3
        with:
          secrets: |
            infra-exec-hcloud-token:${{ vars.GC_PROJECT_ID }}/${{ vars.INFRA_EXECUTOR_HCLOUD_TOKEN_SECRET_NAME }}

      - name: Upload schematic
        id: schematic
        run: |
          ID=$(curl -s -X POST --data-binary @schematic.yaml https://factory.talos.dev/schematics | jq -r '.id')
          echo "schematic_id=$ID" >> $GITHUB_OUTPUT

      - name: Build snapshot
        run: |
          docker run --rm \
            -e HCLOUD_TOKEN="${{ steps.secrets.outputs.infra-exec-hcloud-token }}" \
            ghcr.io/apricote/hcloud-upload-image:v1.2.0 \
            upload \
            --image-url "https://factory.talos.dev/image/${{ steps.schematic.outputs.schematic_id }}/${{ env.TALOS_VERSION }}/hcloud-${{ matrix.architecture.talos }}.raw.xz" \
            --architecture "${{ matrix.architecture.server }}" \
            --description "talos-${{ env.TALOS_VERSION }}-${{ matrix.architecture.talos }}-${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}" \
            --compression xz \
            --labels "type=infra,os=talos,version=${{ env.TALOS_VERSION }},arch=${{ matrix.architecture.talos }},build_sha=${{ github.sha }},build_run_id=${{ github.run_id }},build_run_attempt=${{ github.run_attempt }}"


  cleanup-on-fail:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
    if: failure() || cancelled()
    steps:
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ vars.GC_PROJECT_ID }}
          workload_identity_provider: ${{ vars.GC_WORKLOAD_IDENTITY_PROVIDER }}

      - name: Fetch secrets
        id: secrets
        uses: google-github-actions/get-secretmanager-secrets@v3
        with:
          secrets: |
            infra-exec-hcloud-token:${{ vars.GC_PROJECT_ID }}/${{ vars.INFRA_EXECUTOR_HCLOUD_TOKEN_SECRET_NAME }}

      - name: Delete incomplete images
        run: |
          docker run --rm \
            -e HCLOUD_TOKEN="${{ steps.secrets.outputs.infra-exec-hcloud-token }}" \
            ghcr.io/apricote/hcloud-upload-image:v1.2.0 \
            cleanup

  remove-pr-snapshots:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: read
      id-token: write
    if: github.event_name == 'pull_request_target'
    steps:
      - name: Setup Hetzner Cloud CLI
        uses: hetznercloud/setup-hcloud@v1
        
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          project_id: ${{ vars.GC_PROJECT_ID }}
          workload_identity_provider: ${{ vars.GC_WORKLOAD_IDENTITY_PROVIDER }}

      - name: Fetch secrets
        id: secrets
        uses: google-github-actions/get-secretmanager-secrets@v3
        with:
          secrets: |
            infra-exec-hcloud-token:${{ vars.GC_PROJECT_ID }}/${{ vars.INFRA_EXECUTOR_HCLOUD_TOKEN_SECRET_NAME }}

      - name: Get current snapshots
        env:
          HCLOUD_TOKEN: ${{ steps.secrets.outputs.infra-exec-hcloud-token }}
        id: get_snapshots
        run: |
          snapshot_id=$(hcloud image list -t snapshot -o json | jq '.[] | select(.description | contains("${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}")).id')
          echo "snapshot_id=$snapshot_id" >> $GITHUB_OUTPUT

      - name: Delete PR snapshots
        env:
          HCLOUD_TOKEN: ${{ steps.secrets.outputs.infra-exec-hcloud-token }}
        run: |
          hcloud image delete ${{ steps.get_snapshots.outputs.snapshot_id }}

