run-name: Infrastructure Update
name: infra-apply

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "**.tf"
      - "**.tfvars"
      - "**.yml"
      - "**.yaml"

jobs:
  infra-apply:
    permissions:
      contents: read
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        environment:
          - prod
    defaults:
      run:
        shell: bash
        working-directory: ./tofu/envs/${{ matrix.environment }}
    concurrency:
      group: infra-${{ matrix.environment }}
      cancel-in-progress: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ vars.GC_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GC_INFRA_EXECUTOR_SERVICE_ACCOUNT_EMAIL }}

      - name: Retrieve Secrets from Secret Manager
        id: secrets
        uses: google-github-actions/get-secretmanager-secrets@v3
        with:
          secrets: |
            INFRA_EXECUTOR_GITHUB_TOKEN:${{ vars.GC_PROJECT_ID }}/${{ vars.INFRA_EXECUTOR_GITHUB_TOKEN_SECRET_NAME }}
            INFRA_EXECUTOR_HCLOUD_TOKEN:${{ vars.GC_PROJECT_ID }}/${{ vars.INFRA_EXECUTOR_HCLOUD_TOKEN_SECRET_NAME }}
            INFRA_EXECUTOR_CLOUDFLARE_TOKEN:${{ vars.GC_PROJECT_ID }}/${{ vars.INFRA_EXECUTOR_CLOUDFLARE_TOKEN_SECRET_NAME }}

      - name: Set Up Open Tofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_version: 1.10.5

      - name: Setup Terraform Commenter
        uses: shmokmt/actions-setup-tfcmt@v2

      - name: Initialize Open Tofu
        run: tofu init -input=false

      - name: Validate Open Tofu Configuration
        run: tofu validate

      - name: Apply Open Tofu Configuration
        env:
          GITHUB_TOKEN: ${{ steps.secrets.outputs.INFRA_EXECUTOR_GITHUB_TOKEN }}
          TF_VAR_github_token: ${{ steps.secrets.outputs.INFRA_EXECUTOR_GITHUB_TOKEN }}
          TF_VAR_hcloud_token: ${{ steps.secrets.outputs.INFRA_EXECUTOR_HCLOUD_TOKEN }}
          TF_VAR_cloudflare_token: ${{ steps.secrets.outputs.INFRA_EXECUTOR_CLOUDFLARE_TOKEN }}
        run: tfcmt -owner ${{ github.repository_owner }} -repo ${{ github.event.repository.name }} -sha ${{ github.sha }} apply -- tofu apply -input=false -no-color -auto-approve
